# Python Environment
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/

# Environment Variables
.env

# Data & Heavy Media
data/videos/*
data/2d_player_maps/*
data/debug_coordinates/*
data/inverse_homography/*

datasets/
outputs/
runs/
external/
*.pt
*.pth
*.ckpt
*.onnx

# Tracking & Analysis Artifacts
*.csv
*.json
*.npy
*.log

# OS & IDE Junk
.DS_Store
Thumbs.db
.vscode/
.idea/