# Core Computer Vision & ML
opencv-python
numpy
torch
torchvision
scikit-learn
umap-learn

# Inference & Annotation
inference
supervision

# Utilities
tqdm
python-dotenv
pathlib
matplotlib

# Video Handling
imageio[ffmpeg]